<% layout("/layouts/boilerplate.ejs") %>
<div class="row new-page">
    <div class="col-8 offset-2">
        <h1>Sign up for Wanderlust</h1>
        <form method="POST" action="/signup" novalidate class="needs-validation"> 
        <div class="mb-2">
            <label for="username" class="form-label fs-5">Username</label>
            <input 
               type="text" 
               name="username" 
               id="username"
               class="form-control"
               required
            >
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Title should be valid!</div>
        </div>

        <div class="mb-2">
            <label for="email" class="form-label fs-5">Email</label>
            <input 
               type="email" 
               name="email" 
               id="email"
               class="form-control"
               required
            >
            <div class="valid-feedback">looks good!</div>
            <div class="invalid-feedback">Email should be valid!</div>
        </div>

        <div class="mb-2">
            <label for="password" class="form-label fs-5">Password</label>
            <input 
               type="password" 
               name="password" 
               id="password"
               class="form-control"
               required
            >
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Password should be valid!</div>
        </div>
<br>
        <button class="btn add-btn">Sign up</button>

        </form>
    </div>
</div>